.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* main */

main {
  max-width: 75%;
  width: 100%;
  height: 500px;
  margin-top: 130px;
}

.mainContentBox {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 5%;
}

.feeds {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.more {
  outline: none;
  border: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.comment {
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 90%;
    height: 100%;
    font-size: 14px;
    margin-left: 10px;
    outline: none;
    border: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    background: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
}

.main-right {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.myProfile {
  width: 100px;
  height: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.myProfileText {
  font-size: 16px;
  line-height: 20px;

  p:last-child {
    color: rgba(0, 0, 0, 0.4);
  }
}

.story {
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.storyHeader,
.recommendHeader {
  max-width: 90%;
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px 0 15px 0;
}

.storyUser {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all {
  font-weight: bold;
  cursor: pointer;
}

.storyContent,
.recommendContent {
  max-width: 90%;
  width: 100%;
  height: 170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.recommend {
  width: 100%;
  height: 160px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.info {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 25px;
  margin-top: 10px;

  p:last-child {
    margin-top: 20px;
  }
}
